#Python Data Structure

1. What are data structures, and why are they important?
   - Answer:-> Data structures are the way of organizing and storing data so it can be accessed and manipulated efficiently. They can include names, adrresses,dates--fields that are recognizable and searchable by computers.

2. Explain the difference between mutable and immutable data types with examples.
   -  Answer:- Mutable allow modification of their values creation.
   Examples:- List,Set and Tuple.
   Immutable doesn't allow any modification of their values once created.

3. What are the main differences between lists and tuples in Python ?
   - ANswer:-> Lists are mutable whereas Tuples are immutable.
   Tuples are faster than List.
   Lists have more built in methods for modifying their contents while tuples have fewer methods due to their immutability.

4. Describe how dictionaries store data.
   - Answer:-> Dictionaries stores value in key and pair value.They use a umique key to identify and retrieve associated values.They are mutable.

5. Why might you use a set instead of a list in Python?
   - Answer:-> Set:->
               -store only unique elements.
               -check if an element exists in the collection quickly.
               -The order of elements does not matter.
             List:->
               -Store elements in a specific order.
               -To access elements by index.
               -Allow duplicate elements.

6. What is a string in Python, and how is it different from a list?
   - Answer:-> In Python, a string is an immutable sequence of characters, while a list is a mutable sequence of items, which can be of any data type. Strings are typically represented by text within single or double quotes, and they can only contain characters, whereas lists can hold various elements like numbers, other lists, or even strings.

7. How do tuples ensure data integrity in Python?
   - Answer:->Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - Answer:->A hash table is a data structure that stores data in key-value pairs, using a hash function to compute the index for each key. This allows for efficient data retrieval, insertion, and deletion.
In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key and uses it to determine where to store the value in the underlying hash table. This enables Python dictionaries to offer average-case O(1) time complexity for most operations, making them a highly efficient data structure for many applications.

9. Can lists contain different data types in Python?
   - Answer:-> Yes, List can contains different types in python such as integer,float and string etc.

10. Explain why strings are immutable in python?
    - Answer:-> Strings are immutable means they can't be changed once they are created.
    It helps in hasing,performance optimization, safety, ease of use etc.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Answer:-> Dictionaries excel over lists when you need fast lookups and efficient storage of key-value pairs. For quick retrieval.
    On the other hand, list are better suited for ordered collections and sequential processing.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Answer:-> IT depends upon the specific use case:
   1. Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections.
2. Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

Use lists for flexibility and tuples for performance and immutability.

13. How do sets handle duplicate values in Python?
    - Answer:-> In Python, sets are designed to store only unique elements. When an attempt is made to add a duplicate value to a set, the set automatically discards the duplicate, ensuring that each element appears only once. This behavior is fundamental to the nature of sets as unordered collections of distinct items.

14. How does the “in” keyword work differently for lists and dictionaries?
    - Answer:->  For lists, "in" checks if a specific element exists as a value within the list. For dictionaries, "in" checks if a given key exists in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
    - Answer:-> No, we can't modify the elements of tuple as tuple is immutable and the property of immutability comes with the condition that once any values is assigned in tuple then it can't be changed.

16. What is a nested dictionary, and give an example of its use case?
    - Answer:-> Nested dictionary means a dictionary where the value od one or more keys is another dictionary.
    Example:-> Representing hierarchical data like an employee directory with each employee having their own dictionary of details.
    # Nested dictionary representing employees in a company
employees = {
  "department1": {
    "emp1": {
      "name": "Arun",
      "title": "Software Engineer",
      "salary": 80000
    },
    "emp2": {
      "name": "Ram",
      "title": "Project Manager",
      "salary": 100000
    }
  },
  "department2": {
    "emp3": {
      "name": "Sita",
      "title": "Data Scientist",
      "salary": 90000
    }
  }
}

 - Accessing data within the nested dictionary
print(employees["department1"]["emp1"]["name"])
print(employees["department2"]["emp3"]["title"]);

17. Describe the time complexity of accessing elements in a dictionary.
    - Answer:-> Time complexity of accessing elements in a dictionary is O(1)(constant time) on average.
    It means the time it takes to retrieve a value using its key doesn't increase significantly as the dictionary size grows.

18. In what situations are lists preferred over dictionaries?
    - Answer:-> Lists are often preferred over dictionaries when the order of elements is crucial, frequent appending or extending is needed, or when the data is accessed sequentially using indices. Dictionaries are generally better when you need fast lookups based on keys, efficient key-value mapping, or when you need to store data associated with unique identifiers.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Answer:-> They are considered unordered as they don't maintain the order in which items were inserted.
    They can affect the data retrieval in few ways:-
    (a)No positional access.
    (b)Iteration Order.
    (c)Key-based access.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Answer:-> In terms of data retrieval, lists access elements using indices (integers starting from 0), while dictionaries access elements using keys (which can be of any data type). Lists have a predefined order, and retrieving an element by its index is relatively fast. Dictionaries, however, offer faster retrieval based on keys, as they use a hash-based lookup.

# Practical Python Questions

In [ ]:
#Question 1:- Write a code to create a string with you name and print it.
a='Arun Raj'
print(a);

Arun Raj

In [ ]:
#Question 2:- Write a code to find the length of the string "Hello World".
a='Hello World'
print(len(a));

8

In [ ]:
#Question 3:- Write a code to slice the first 3 characters from the string"Python Programming"
a='Python Programming'
print(a[:3]);

Pyt

In [ ]:
#Question 4:- Write a code to convert the string "hello" to uppercase.
a='hello'
print(a.upper())

HELLO

In [ ]:
#Question 5:- Write a code to replace the word "apple" with "orange" in the string "I like apple".
a='I like apple'
print(a)
print(a.replace('apple','orange'))

I like apple
I like orange

In [ ]:
#Question 6 :- Write a code to create a list with numbers 1 to 5 and print it.
ls=[i for  i in range  (1,6)]
print(ls);

[1, 2, 3, 4, 5]

In [ ]:
#Question 7:- Write a code to append the number 10 to the list[1,2,3,4].
ls=[1,2,3,4]
ls.append(10)
print(ls);

[1, 2, 3, 4, 10]

In [ ]:
#Question 8:- Write a code to remove the number 3 from the list [1,2,3,4,5].
ls=[1,2,3,4,5]
ls.remove(3)
print(ls);

[1, 2, 4, 5]

In [ ]:
#Question 9:-Write a code to access the second element in the list ['a','b','c','d'].
ls=['a','b','c','d']
print(ls[1])

b

In [ ]:
#Question 10:- Write a code to reverse the list[10,20,30,40,50].
ls=[10,20,30,40,50]
ls.reverse()
print(ls);

[50, 40, 30, 20, 10]

In [ ]:
#Question 11:- Write a code to create a tuple with the elements 100,200, 300 and print it.
tp=(100,200,300)
print(tp)

(100, 200, 300)

In [ ]:
#Question 12:- Write a code to access the second to last element of the tuple('red','green','blue','yellow')
tp=('red','green','blue','yellow')
print(tp[-2])

blue

In [ ]:
#Question 13:- Write a code to find the minimum number in the tuple(10,20,5,15).
tp=(10,20,5,15)
print(min(tp));

5

In [ ]:
#Question 14:-Write a code to find the index of the element "cat" in the tuple('dog,'cat','rabbit')
tp=('dog','cat','rabbit')
index_of_element=tp.index('cat')
print(index_of_element);

1

In [ ]:
#Question 15:- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tp=('Orange','Mango','kiwi')
if "kiwi" in tp:
    print("yes: kiwi is there!")
else:
    print("No: It's not there!");

yes: kiwi is there!

In [ ]:
#Question 16:- Write a code to create a set with the element 'a','b','c' and print it.
a={'a','b','c'}
print(a)
print(type(a));

{'c', 'a', 'b'}
<class 'set'>

In [ ]:
#Question 17:- Write a code to clear all the elements from the set{1,2,3,4,5}.
a={1,2,3,4,5}
a.clear()
print(a);

set()

In [ ]:
#Question 18:- Write a code to remove the element 4 from the set {1,2,3,4}.
a={1,2,3,4}
a.remove(4)
print(a);

{1, 2, 3}

In [ ]:
#Question 19:- Write a code to find the union of two sets {1,2,3} and {3,4,5}.
a={1,2,3}
b={3,4,5}
c=a.union(b)
print(c);

{1, 2, 3, 4, 5}

In [ ]:
#Question 20:- Write a code to find the intersection of two sets{1,2,3} and {2,3,4}
a={1,2,3}
b={2,3,4}
c=a.intersection(b)
print(c);

{2, 3}

In [ ]:
#Question 21:- Write  a code to create a dictionary with the keys "name","age" and "city" and print it
a={'name':'Arun','age':26,'city':'Raxaul'}
print(a);

{'name': 'Arun', 'age': 26, 'city': 'Raxaul'}

In [ ]:
#Question 22:- Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'John','age':25}.
a={'name':'John','age':25}
a['country']='USA'
print(a);

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Question 23:- Write a code to access the value associated with the key "name" in the dictionary{'name':'Alice','age':30}
dict={'name':'Alice','age':30}
x=dict['name']
print(x);

Alice

In [ ]:
#Question 24:- Write a code to remove the key "age" from the dictionary{'name':'Bob','age':22,'city':'New york'}
a={'name':'Bob','age':22,'city':'New york'}
a.pop('age')
print(a);

{'name': 'Bob', 'city': 'New york'}

In [ ]:
#Question 25:- Write a code to check if the key "city" exists in the dictionary{'name':'Alice','city':'paris'}.
a={'name':'Alice','city':'paris'}
if 'city' in a:
      print('Yes,it is there!')
else:
      print('No, it is not there!');

Yes,it is there!

In [ ]:
#Question 26:- Write a code to create a list,tuple and a dictionary and print them all.
ls=['arun',1,1.5,True]
tp=('arun',1,1.5,True)
dict={'Name':'Ram','Age':29,'Place':'Ayodhya'}
print(ls)
print(tp)
print(dict)

['arun', 1, 1.5, True]
('arun', 1, 1.5, True)
{'Name': 'Ram', 'Age': 29, 'Place': 'Ayodhya'}

In [ ]:
#Question 27:- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result.
import random
a=random.sample(range(1,100),5)
print(a)
a.sort()
print(a);

[72, 10, 85, 3, 42]
[3, 10, 42, 72, 85]

In [ ]:
#Question 28:-Write a code to create a list with strings and print the element at the third index.
ls=['Ram','Sita','Ramayana',' Lord Shiva']
print(ls[2]);

Ramayana

In [ ]:
#Question 29:- Write a code to combine two dictionaries into one and print the result.
a={'name':'Ram','age':29}
b={'bride':'sita','Place':'Janakpur'}
c={**a,**b}
print(c);

{'name': 'Ram', 'age': 29, 'bride': 'sita', 'Place': 'Janakpur'}

In [ ]:
#Question 30:- Write a code to convert a list of strings into a set.
ls=['Ram','Sita','Ramayana',' Lord Shiva','Lord Shiva']
st=set(ls)
print(st)
print(type(st));

{' Lord Shiva', 'Sita', 'Lord Shiva', 'Ram', 'Ramayana'}
<class 'set'>